
#heade{ /* este es el jumbotron, es que no me dejaba editarlo*/
  background-color: #8FAFD3;
}
.btn-reserva{
  width: 100%;

}
footer
{
  background: #8FAFD3;
  margin-top: 40px;
  padding-bottom: 40px;
}

.card-uva{
  flex: 1 125px;
  padding: 2px 5px 2px 5px;
}
.card-uva:hover{
  border: 2px solid gray;
}

h5{
  padding-top: 10px;

}
p
{

  font-size: 20px;
}
.first{ /* este son las columnas de arriva, las que no son columnas*/
  padding-bottom: 30px;
}
